

<!-- <section class="main-section"> -->

    <!-- <div class="container dash-head">
      <div class="row">
        <div class="col-md-6">
          <div class="user-img">
            <img src="assets/images/user.jpg" class="rounded-circle" alt="user">
          </div>
          <div class="user-info">
            <h3>Welcome [name]</h3>
            <p>Complete your profile</p>
          </div>

        </div>
      </div>
    </div> -->
<!--     
    <router-outlet></router-outlet>
    </section> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
   <div class="container-scroller">
      <div class="row p-0 m-0 proBanner" id="proBanner">
        <div class="col-md-12 p-0 m-0">
          <!-- <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
            <div class="ps-lg-3">
              <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                <a  target="_blank" class="btn me-2 buy-now-btn border-0">Buy Now</a>
              </div>
            </div> -->
            <!-- <div class="d-flex align-items-center justify-content-between">
              <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i class="mdi mdi-home me-3 text-white"></i></a>
              <button id="bannerClose" class="btn border-0 p-0">
                <i class="mdi mdi-close text-white mr-0"></i>
              </button>
            </div> -->
          <!-- </div> -->
        </div>
      </div>
      <!-- partial:partials/_navbar.html -->
      <!-- <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"> -->
        <!-- <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="navbar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div> -->
        <!-- <div class="col-2 navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="col-10 d-flex align-items-end">
            <div class="user-image d-flex align-items-center ms-3">
              <span class="me-2">
                <span class="text-danger">Welcome</span> {{ userService.currentUser.user.fname }}
              </span>
              <img [matMenuTriggerFor]="headerRytmenu" src="assets/images/user.jpg"
                   (click)="headerDropdown = !headerDropdown" class="rounded-circle p-cursor" alt="user" height="70">
            </div>
            <mat-menu #headerRytmenu="matMenu" xPosition="before">
              <button routerLink="/users/dashboard" mat-menu-item>Dashboard</button>
              <button *ngIf="userService.currentUser?.user.isAdmin" routerLink="/admin/dashboard" mat-menu-item>Admin</button>
              <button (click)="handleLogout()" mat-menu-item>Logout</button>
            </mat-menu>
          </div>
  </div> -->
      <!-- </nav> -->
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
         <div class="col-2 pl-0">
          <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: #dc35c631;">
            <!-- <ul class="nav">
             <li class="nav-item">
                <a class="nav-link" routerLink="/admin/dashboard">
                  <span class="menu-title">Dashboard</span>
                  <i class="mdi mdi-home menu-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="" aria-expanded="false" aria-controls="ui-basic">
                  <span class="menu-title">Basic UI Elements</span>
                  <i class="menu-arrow"></i>
                  <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="ui-basic">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="">Buttons</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Dropdowns</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Typography</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" routerLink="/property/list" aria-expanded="false" aria-controls="icons">
                  <span class="menu-title">Property</span>
                  <i class="mdi mdi-contacts menu-icon"></i>
                </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" routerLink="/role/new" aria-expanded="false" aria-controls="icons">
                    <span class="menu-title">role</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" routerLink="/menu1/new" aria-expanded="false" aria-controls="icons">
                    <span class="menu-title">menu</span>
                  </a>
                </li>
              </ul> -->
              <ul class="nav">
                <li class="nav-item" *ngFor="let item of menuList">
                  <!-- Main Menu Item -->
                  <a class="nav-link" 
                     [routerLink]="item.path" 
                     data-bs-toggle="collapse" 
                     [attr.aria-expanded]="false" 
                     [attr.aria-controls]="item.id">
                    <span class="menu-title">{{ item.name }}</span>
                    <i class="{{ item.icon }} menu-icon"></i> 
                  </a>
              </li>
              </ul>
              <!-- <div *ngIf="item.children && item.children.length" class="collapse" [id]="item.id">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item" *ngFor="let subItem of item.children">
                        <a class="nav-link" [routerLink]="subItem.routerLink">{{ subItem.name }}</a>
                      </li>
                    </ul>
                  </div> -->
              </nav>
         </div>
        
        <!-- partial -->
            <div class="col-10">
              <router-outlet></router-outlet>
</div>
         
      </div>
      <!-- page-body-wrapper ends -->
    </div> 
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/chart.umd.js"></script>
    <script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>

