<div class="row">
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form  [formGroup]="form">
          <div class="sub-header">
            <h3 class="mt-1 text-left"><i class="fa-solid bi bi-person-fill mr-1"></i>Builder</h3>
            <hr class="mt-0">
          </div>
          <div class="row align-items-center">
            <!-- Search Input -->
            <div class="col-md-4">
              <label for="search">Search</label>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-search"></i> </span>
                  </div>
                  <input type="text" formControlName="searchText" class="form-control" placeholder="search" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
            </div>

            <!-- Filter and Cancel Buttons -->
            <div class="col-md-3">
              <button type="submit" class="btn btn-warning mr-1" (click)="onClick_fiter()">Filter</button>
              <button type="reset" class="btn btn-secondary" (click)="onClear_Filter()">Cancel</button>
            </div>

            <!-- Add New Button -->
            <div class="col-md-5 text-md-right">
              <button type="button" class="btn btn-primary" (click)="onAddEdit()">
                <i class="fa fa-plus btn-icon-prepend"></i> Add New
              </button>
            </div>
          </div>
        </form>

        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Pincode</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of builderList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{item.fname}} {{item.lname}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phoneNo}}</td>
              <td>{{item.pincode}}</td>
              <td>{{item.location}}</td>
              <td>
                <a class="info p-0 m-1" ngbTooltip="Edit" (click)="onAddEdit(item._id)">
                  <i class="bi bi-pencil-square font-medium-4 mr-2 text-success font-weight-bold"></i>
                </a>
                <a class="danger p-0" ngbTooltip="Delete" (click)="onDelete(item._id)">
                  <i class="bi bi-trash3 font-medium-4 text-danger font-weight-bold"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row mt-2">
          <div class="col-md-10">
            <ngb-pagination [collectionSize]="totalRecord" [(page)]="page" (pageChange)="onClick_PageChange($event)"
            [pageSize]="pageSize" [maxSize]="10">
          </ngb-pagination>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select [(ngModel)]="pageSize" (ngModelChange)="onChange_PageSize()" class="form-control">
                <option *ngFor="let size of pageSizeList" [value]="size.pageSize">{{ size.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
