<div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12 form-group">
          <ng-select (change)="onChangeRole($event)" appendTo="body" [items]="roleList" bindLabel="name" bindValue="name" [(ngModel)]="selectedRole"
            placeholder="{{'Page.Select'| translate}}" id="roleName">
          </ng-select>
        </div>
      </div>
    </div>
    <hr class="m-0">
    <div class="card-content" *ngIf="permissionDetails">
      <div class="card-body">
        <div>
          <div class="tree">
            <ul>
              <li *ngFor="let first of permissionDetails"><span>
                  <div class="custom-control custom-checkbox d-inline">
                    <input type="checkbox" class="custom-control-input" [name]="first.name" [id]="first.name+first.id" (change)="onFirstLevelCheckBox($event,first.id)"
                      [checked]="first.selected" [disabled]="first.name === 'Dashboard'">
                    <label class="custom-control-label" [for]="first.name+first.id"><i class="mr-2" [ngClass]="first.icon"></i><span>{{first.title}}</span></label>
                  </div>
                </span>
                <ul *ngIf="first.permissions.length !== 0 && first.selected">
                  <li *ngFor="let rec of first.permissions"><span>
                      <div class="custom-control custom-checkbox d-inline">
                        <input type="checkbox" class="custom-control-input" [name]="rec.name" [id]="rec.name+rec.id" (change)="onChildCheckBoxForClaim($event, rec)"
                          [checked]="rec.selected" [disabled]="rec.name === 'Dashboard.ViewDashboard'">
                        <label class="custom-control-label" [for]="rec.name+rec.id"><i class="mr-2"></i><span>{{rec.description}}</span></label>
                      </div>
                    </span>
                  </li>
                </ul>
                <ul *ngIf="first.subList.length !== 0 && first.selected">
                  <li *ngFor="let second of first.subList">
                    <span>
                      <div class="custom-control custom-checkbox d-inline">
                        <input type="checkbox" class="custom-control-input" [name]="second.name" [id]="second.name+second.id" (change)="onSecondLevelCheckBox($event, second)"
                          [checked]="second.selected">
                        <label class="custom-control-label" [for]="second.name+second.id"><i class="mr-2" [ngClass]="second.icon"></i><span>{{second.title}}</span></label>
                      </div>
                    </span>
                    <ul *ngIf="second.permissions.length !== 0 && second.selected">
                      <li *ngFor="let rec of second.permissions"><span>
                          <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input" [name]="rec.name" [id]="rec.name+rec.id" (change)="onChildCheckBoxForClaim($event, rec)"
                              [checked]="rec.selected">
                            <label class="custom-control-label" [for]="rec.name+rec.id"><i class="mr-2"></i><span>{{rec.description}}</span></label>
                          </div>
                        </span>
                      </li>
                    </ul>
                    <ul *ngIf="second.subList.length !== 0 && second.selected">
                      <li *ngFor="let third of second.subList">
                        <div class="custom-control custom-checkbox d-inline">
                          <input type="checkbox" class="custom-control-input" [name]="third.name" [id]="third.name+third.id"
                            (change)="onThirdLevelCheckBox($event, third, second.id, first.id)" [checked]="third.selected">
                          <label class="custom-control-label" [for]="third.name+third.id"><i class="mr-2" [ngClass]="third.icon"></i><span>{{third.title}}</span></label>
                        </div>
                        <ul *ngIf="third.permissions.length !== 0 && third.selected">
                          <li *ngFor="let rec of third.permissions"><span>
                              <div class="custom-control custom-checkbox d-inline">
                                <input type="checkbox" class="custom-control-input" [name]="rec.name" [id]="rec.name+rec.id" (change)="onChildCheckBoxForClaim($event, rec)"
                                  [checked]="rec.selected">
                                <label class="custom-control-label" [for]="rec.name+rec.id"><i class="mr-2"></i><span>{{rec.description}}</span></label>
                              </div>
                            </span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="row" *ngIf="menuId.length > 0">
            <div class="col-md-12 text-center">
              <button type="button" (click)="onClickSubmit()" class="btn btn-primary">
                <i class="ft-check-square mr-1"></i>{{'Page.Save'| translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2" *ngIf="!permissionDetails">
    <div class="col-sm-12 text-center">
      <img src="assets/image/gallery/login.png" alt="" class="img-fluid error-img mt-2" height="300" width="500">
      <h1 class="mt-4">{{'Page.Msg.Selectrolefordetsils'| translate}}</h1>
      <div class="w-75 error-text mx-auto mt-4">
        <p class="text-primary">{{'Page.Msg.Didnotfounddetails'| translate}}</p>
        <p> {{'Page.Msg.PermissionMsg'| translate}}.<br />
        </p>
      </div>
    </div>
  </div>
</div>