<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="sub-header">
        <h3 class="mt-1 text-left"><i class="fa-solid fa-circle-info mr-1"></i>Permission</h3>
        <hr class="mt-0">
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <select class="form-select form-select-lg mb-3" appendTo="body" placeholder="select" id="roleName">
            <option value="select">select</option>
            <option value="Admin">Admin</option>
            <option value="Administration">Administration</option>
        </select>
        </div>
      </div>
    </div>
    <hr class="m-0">

    <!-- <div class="row mt-2" *ngIf="!permissionDetails"> -->
    <div class="row mt-2">
      <div class="col-sm-12 text-center">
        <img src="\assets\images\dashboard\erp\img_1 .jpg" alt="permission" class="img-fluid error-img mt-2" height="300" width="500">
        <h1 class="mt-4">Select role for details.</h1>
        <div class="w-75 error-text mx-auto mt-4">
          <p class="text-primary">Did not found details</p>
          <p> Permission Message.<br />
          </p>
        </div>
      </div>
    </div>

  </div>
</div>