<!--starts Inquiry-->
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12  text-md-right text-left">
        <button type="button" class="btn btn-primary mr-1 mb-1" (click)="onClick_Add()">
          <i class="fa fa-plus mr-1" aria-hidden="true"></i> {{'Page.AddRole'| translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="card-content">
    <!-- <ngx-spinner></ngx-spinner> -->
    <div class="card-body table-responsive">
      <table class="table text-center m-0">
        <thead>
          <tr>
            <th>#</th>
            <th>{{'Page.RoleName'| translate}}</th>
            <th>{{'Page.Action'| translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of roleList; let i = index">
            <td data-title="#">{{ i + 1 }}</td>
            <td data-title="{{'Page.RoleName'| translate}}">{{ item.name }}</td>
            <td class="text-truncate">
              <a class="info p-0 m-1" ngbTooltip="{{'Page.Edit'| translate}}" (click)="onClick_Edit(item.id)" *ngIf="!item.readOnly">
                <i class="ft-edit font-medium-3 mr-2"></i>
              </a>
              <a class="danger p-0" ngbTooltip="{{'Page.Cancel'| translate}}" (click)="onClick_Delete(item.id)" *ngIf="!item.readOnly">
                <i class="ft-trash-2 font-medium-3"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="roleList.length == 0">
            <td colspan="3" class="text-center">{{'Page.Msg.NoRoleFound'| translate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--Ends Inquiry -->
