footer{
    padding: 20px 0px;
        /* background: linear-gradient(to right, #dc35c631, #9a1b984e); */
        background-color: #dc35c631;
}
footer p, footer p a{
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}