<div class="conatiner">
  <div class="row">
    <div class="card">
      <!-- <table class="table-responsive">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
        </thead>
        <tbody>

        </tbody>
    </table> -->
    <table class="table text-center m-0">
      <thead>
        <tr>
          <th>#</th>
          <th>RoleName</th>
          <th>Asdfgg</th>
          <!-- <th>{{'Page.RoleName'| translate}}</th>
          <th>{{'Page.Action'| translate}}</th> -->
        </tr>
      </thead>
      </table>
    </div>
    </div>
</div>
