<div class="conatiner">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table text-center m-0">
            <thead>
              <tr class="fw-bold">
                <th>#</th>
                <th>Description</th>
                <th>title</th>
                <th>city</th>
                <th>location</th>
                <th>PropertyFor</th>
                <th>PropertyType</th>
                <th>status</th>
                </tr>
                <tr *ngFor="let item of propertyList;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.isStatus}}</td>
                </tr>
            </thead>
            </table>
        </div>
        
      </div>
    </div>
    
    </div>
</div>
