<!-- <ngx-spinner name="modalspin" type="timer" [fullScreen]="false"></ngx-spinner>

<div class="modal-header">
  <div *ngIf="id > 0; then editUser; else addUser"></div>
  <ng-template #editUser>
    <h4 class="modal-title">{{'Page.EditUser' | translate}}</h4>
  </ng-template>
  <ng-template #addUser>
    <h4 class="modal-title">{{'Page.AddUser' | translate}}</h4>
  </ng-template> -->
  <!-- <h4 class="modal-title">{{ id > 0 ? 'Edit User':'Add User'}}</h4> -->
  <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<!-- <form [formGroup]="form" novalidate (ngSubmit)="onSubmit_Form()">
  <div class="modal-body"> -->
    <!--* User Basic Information *-->
    <!-- <div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="roleName">{{'Page.Role'| translate}}</label>
        <div class="col-md-8">
          <ng-select id="roleName" formControlName="roleName" [items]="roleList" bindLabel="name" bindValue="name" placeholder="{{'Page.Select'| translate}}" appendTo="body"
            (change)="onChange_Role($event)" [ngClass]="{'is-invalid': submitted && f.roleName.invalid,'is-valid': submitted && !f.roleName.invalid}">
          </ng-select>
          <small class="form-text text-muted danger" *ngIf="submitted && f.roleName.invalid">
            <span *ngIf="f.roleName.errors.required"> {{'Page.Msg.RoleRequired'| translate}}. </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="fullName">{{'Page.FullName'| translate}}</label>
        <div class="col-md-8">
          <input id="fullName" formControlName="fullName" type="text" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.fullName.invalid,'is-valid': submitted && !f.fullName.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.fullName.invalid">
            <span *ngIf="f.fullName.errors.required">{{'Page.Msg.FullNameRequired'| translate}}.</span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="fullNameAr">{{'Page.ArabicName'| translate}}</label>
        <div class="col-md-8">
          <input id="fullNameAr" formControlName="fullNameAr" type="text" class="form-control" name="fullNameAr"
            [ngClass]="{'is-invalid': submitted && f.fullNameAr.invalid,'is-valid': submitted && !f.fullNameAr.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.fullNameAr.invalid">
            <span *ngIf="f.fullNameAr.errors.required">{{'Page.Msg.FullNameArisrequired'| translate}}.</span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="userName">{{'Page.Username'| translate}}</label>
        <div class="col-md-8">
          <input id="userName" formControlName="userName" type="text" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.userName.invalid,'is-valid': submitted && !f.userName.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.userName.invalid">
            <span *ngIf="f.userName.errors.required">
              {{'Page.Msg.UserNameRequired'| translate}}.
            </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="email">{{'Page.Email'| translate}}</label>
        <div class="col-md-8">
          <input id="email" formControlName="email" type="text" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.email.invalid,'is-valid': submitted && !f.email.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.email.invalid">
            <span *ngIf="f.email.errors.required"> {{'Page.Msg.EmailRequired'| translate}}. </span>
            <span *ngIf="f.email.errors.email"> {{'Page.Msg.Entervalidemail'| translate}}. </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="phoneNumber">{{'Page.PhoneNumber'| translate}}</label>
        <div class="col-md-8">
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text text-dark" dir="ltr">+966</span>
            </div>
            <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" [inputMask]="mobileMask"
              [ngClass]="{'is-invalid': submitted && f.phoneNumber.invalid,'is-valid': submitted && !f.phoneNumber.invalid}" />
          </div>
          <small class="form-text text-muted danger" *ngIf="submitted && f.phoneNumber.invalid">
            <span *ngIf="f.phoneNumber.errors.required">
              {{'Page.Msg.PhoneNumberRequired'| translate}}.
            </span>
            <span *ngIf="f.phoneNumber.errors.minlength">
              {{'Page.Msg.PhoneNumbermusthaveatleast9digit'| translate}}.
            </span>
            <span *ngIf="f.phoneNumber.errors.maxlength">
              {{'Page.Msg.PhoneNumbershouldnotexceed15characters'| translate}}.
            </span>
          </small>
        </div>
      </div>
      <div class="form-group row" *ngIf="id > 0">
        <label class="col-md-4 label-control"></label>
        <div class="col-md-8">
          <div class="custom-control custom-checkbox checkbox-xl">
            <input id="changePasswordRequired" type="checkbox" formControlName="changePasswordRequired" class="custom-control-input"
              (change)="onChange_ChangePasswordRequired($event)" />
            <label class="custom-control-label" for="changePasswordRequired"><span>{{'Page.ChangePassword'| translate}}</span></label>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="(id > 0 && form.get('changePasswordRequired').value === true) || !id || id==0">
        <label class="col-md-4 label-control" for="password">{{'Page.Password'| translate}}</label>
        <div class="col-md-8">
          <div class="input-group mb-0">
            <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.password.invalid,'is-valid': submitted && !f.password.invalid}" />
            <div class="input-group-append">
              <span class="input-group-text" (click)="onClick_TogglePassword()">
                <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </span>
            </div>
          </div>
          <small class="form-text text-muted danger" *ngIf="submitted && f.password.invalid">
            <span *ngIf="f.password.errors.required">
              {{'Page.Msg.PasswordRequired'| translate}}.
            </span>
            <span *ngIf="f.password.errors.pattern">
              {{'Page.Msg.PasswordPattern'| translate}}
            </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control">{{'Page.Status'| translate}}</label>
        <div class="col-md-8 text-left">
          <div class="radio d-inline-block mr-2 mb-2">
            <input type="radio" input formControlName="status" class="custom-control-input" id="active" name="status" [value]="true"
              [ngClass]="{'is-invalid': submitted && f.status.invalid,'is-valid': submitted && !f.status.invalid }" />
            <label for="active">{{'Page.Active'| translate}}</label>
          </div>
          <div class="radio d-inline-block">
            <input type="radio" input formControlName="status" class="custom-control-input" id="inactive" name="status" [value]="false"
              [ngClass]="{'is-invalid': submitted && f.status.invalid,'is-valid': submitted && !f.status.invalid}" />
            <label for="inactive">{{'Page.InActive'| translate}}</label>
          </div>
          <small class="form-text text-muted danger" *ngIf="submitted && (f.status.invalid || f.status.errors?.required)">
            {{'Page.Msg.Statusisrequired'| translate}}.</small>
        </div>
      </div>
    </div> -->
    <!--* Ends: User Basic Information *-->
    <!-- <hr /> -->
    <!--* User Other Information *-->
    <!-- <div>
      <div class="form-group row" *ngIf="form.get('roleName').value !== role.Administrator">
        <label class="col-md-4 label-control" for="costCenterIds">{{'Page.CostCenter'| translate}}</label>
        <div class="col-md-8">
          <ng-select id="costCenterIds" formControlName="costCenterIds" [multiple]="true" [items]="costCenterList" appendTo="body" bindLabel="name" bindValue="id"
            placeholder="{{'Page.Select'| translate}}" [ngClass]="{'is-invalid': submitted && f.costCenterIds.invalid,'is-valid': submitted && !f.costCenterIds.invalid}">
          </ng-select> -->
          <!-- <small class="form-text text-muted danger" *ngIf="submitted && f.costCenterIds.invalid">
            <span *ngIf="f.costCenterIds.errors.required"> {{'Page.Msg.CostCenterIsRequired'| translate}}.</span>
          </small> -->
        <!-- </div>
      </div>
      <div class="form-group row" *ngIf="form.get('roleName').value !== role.Administrator">
        <label class="col-md-4 label-control" for="company">{{'Page.GPCompany'| translate}}</label>
        <div class="col-md-8">
          <ng-select id="company" formControlName="company" [items]="glCompanyList" appendTo="body" bindLabel="name" bindValue="code" placeholder="{{'Page.Select'| translate}}"
            (change)="onChange_GLCompany($event)" [ngClass]="{'is-invalid': submitted && f.company.invalid,'is-valid': submitted && !f.company.invalid}">
          </ng-select>
          <small class="form-text text-muted danger" *ngIf="submitted && f.company.invalid">
            <span *ngIf="f.company.errors.required"> {{'Page.Msg.GLCompanyIsRequired'| translate}}. </span>
          </small>
        </div>
      </div>
      <div class="form-group row" *ngIf="form.get('roleName').value !== role.Administrator">
        <label class="col-md-4 label-control" for="glAccountCode">{{'Page.GLaccount'| translate}}</label>
        <div class="col-md-8">
          <ng-select id="glAccountCode" formControlName="glAccountCode" [items]="glAccountList" appendTo="body" bindLabel="name" bindValue="code"
            (change)="onChange_GLAccountCode($event)" placeholder="{{'Page.Select'| translate}}"
            [ngClass]="{'is-invalid': submitted && f.glAccountCode.invalid,'is-valid': submitted && !f.glAccountCode.invalid}">
          </ng-select>
          <small class="form-text text-muted danger" *ngIf="submitted && f.glAccountCode.invalid">
            <span *ngIf="f.glAccountCode.errors.required"> {{'Page.Msg.GLaccountIsRequired'| translate}}. </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="prettyCashAmount">{{'Page.PettyCashAmount'| translate}}</label>
        <div class="col-md-8">
          <input formControlName="prettyCashAmount" type="text" id="prettyCashAmount" class="form-control" [inputMask]="currencyMask" autocomplete="off"
            [ngClass]="{'is-invalid': submitted && f.prettyCashAmount.invalid,'is-valid': submitted && !f.prettyCashAmount.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.prettyCashAmount.invalid">
            <span *ngIf="f.prettyCashAmount.errors.required">{{'Page.Msg.Pettycashamountrequired'| translate}}. </span>
            <span *ngIf="f.prettyCashAmount.errors.pattern">{{'Page.Msg.Onlynumberallowed' | translate}}.</span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="limitPerItem">{{'Page.LimitPerItem'| translate}}</label>
        <div class="col-md-8">
          <input id="limitPerItem" formControlName="limitPerItem" type="text" class="form-control" name="limitPerItem" [inputMask]="currencyMask" autocomplete="off"
            [ngClass]="{'is-invalid': submitted && f.limitPerItem.invalid,'is-valid': submitted && !f.limitPerItem.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.limitPerItem.invalid">
            <span *ngIf="f.limitPerItem.errors.required">{{'Page.Msg.limitPerItem'| translate}}. </span>
            <span *ngIf="f.limitPerItem.errors.pattern">{{'Page.Msg.Onlynumberallowed' | translate}}.</span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="allowOverrideLimit"></label>
        <div class="col-md-8">
          <div class="custom-control custom-checkbox checkbox-xl text-left">
            <input id="allowOverrideLimit" formControlName="allowOverrideLimit" type="checkbox" class="custom-control-input" />
            <label class="custom-control-label" for="allowOverrideLimit"> {{'Page.OverrideLimit' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 label-control" for="transactionLimit">{{'Page.TransactionLimit'| translate}}</label>
        <div class="col-md-8">
          <input id="transactionLimit" formControlName="transactionLimit" type="text" class="form-control" [inputMask]="currencyMask" autocomplete="off"
            [ngClass]="{'is-invalid': submitted && f.transactionLimit.invalid ,'is-valid': submitted && !f.transactionLimit.invalid}" />
          <small class="form-text text-muted danger" *ngIf="submitted && f.transactionLimit.invalid">
            <span *ngIf="f.transactionLimit.errors.required">{{'Page.Msg.transaction Limit'| translate}}. </span>
            <span *ngIf="f.transactionLimit.errors.pattern">{{'Page.Msg.Onlynumberallowed' | translate}}.</span>
          </small>
        </div>
      </div>
    </div> -->
    <!--* Ends: User Other Information *-->
  <!-- </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary m-1">
      <i class="ft-check-square" aria-hidden="true"></i>
      {{'Page.Save'| translate}}
    </button>
    <button type="button" class="btn btn-secondary m-1" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
      {{'Page.Cancel'| translate}}
    </button>
  </div>
</form> -->
