<ngx-spinner name="modalspin" type="timer" [fullScreen]="false"></ngx-spinner>
<div #content>
    <div class="modal-header">
        <div *ngIf="roleId > 0; then editRole; else addRole"></div>
        <ng-template #editRole>
            <h4 class="modal-title">{{'Page.EditRole' | translate}}</h4>
        </ng-template>
        <ng-template #addRole>
            <h4 class="modal-title">{{'Page.AddRole' | translate}}</h4>
        </ng-template>
        <!-- <h4 class="modal-title">{{ roleId > 0 ? 'Edit Role':'Add Role'}}</h4> -->
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit_Form()">
        <div class="modal-body">
            <div class="form-group row d-flex align-items-center">
                <label class="col-md-4 label-control" for="striped-form-1">
                    {{'Page.RoleName'| translate}}</label>
                <div class="col-md-8">
                    <input formControlName="name" type="text" id="striped-form-1" class="form-control" [ngClass]="{
                'is-invalid': submitted && f.name.invalid,
                'is-valid': submitted && !f.name.invalid
              }" />
                    <small class="form-text text-muted danger" *ngIf="submitted && f.name.invalid">
                        <span *ngIf="f.name.errors.required">{{'Page.Msg.RoleNameisrequired'| translate}}. </span>
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary m-1">
                <i class="ft-check-square mr-1" aria-hidden="true"></i> {{'Page.Save'| translate}}
            </button>
            <button type="button" class="btn btn-secondary m-1" (click)="activeModal.dismiss('Cross click')">
                <i class="fa fa-times mr-1" aria-hidden="true"></i>
                {{'Page.Cancel'| translate}}
            </button>
        </div>
    </form>
</div>
<!--Ends Modal -->