<ngx-spinner name="modalspin" type="timer" [fullScreen]="false"></ngx-spinner>
<div class="modal-header">
  <div *ngIf="permissionId > 0; then editPermission; else addPermission"></div>
  <ng-template #editPermission>
    <h4 class="modal-title">{{'Page.EditPermission' | translate}}</h4>
  </ng-template>
  <ng-template #addPermission>
    <h4 class="modal-title">{{'Page.AddPermission' | translate}}</h4>
  </ng-template>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit_Permission()">
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-4 label-control" for="name">{{'Page.Name'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="name" type="text" id="name" class="form-control" [ngClass]="{'is-invalid': submitted && f.name.invalid,'is-valid': submitted && !f.name.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && f.name.invalid">
          <span *ngIf="f.name.errors.required">{{'Page.Msg.Nameisrequired'| translate}}</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="description">{{'Page.Description'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="description" type="text" id="description" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.description.invalid,'is-valid': submitted && !f.description.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && f.description.invalid">
          <span *ngIf="f.description.errors.required">{{'Page.Msg.DescriptionIsRequired'| translate}}</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="descriptionAr">{{'Page.DescriptionInArabic'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="descriptionAr" type="text" id="descriptionAr" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.descriptionAr.invalid,'is-valid': submitted && !f.descriptionAr.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && f.descriptionAr.invalid">
          <span *ngIf="f.descriptionAr.errors.required">{{'Page.Msg.DescriptionInArabicIsRequired'| translate}}</span>
        </small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-check-square-o mr-1" aria-hidden="true"></i> {{'Page.Save'| translate}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times mr-1" aria-hidden="true"></i>
      {{'Page.Cancel'| translate}}
    </button>
  </div>
</form>
