<ngx-spinner name="modalspin" type="timer" [fullScreen]="false"></ngx-spinner>
<div class="modal-header">
  <div *ngIf="menuId > 0; then editMenu; else addMenu"></div>
  <ng-template #editMenu>
    <h4 class="modal-title">{{'Page.EditMenu' | translate}}</h4>
  </ng-template>
  <ng-template #addMenu>
    <h4 class="modal-title">{{'Page.AddMenu' | translate}}</h4>
  </ng-template>
  <!-- <h4 class="modal-title">{{ menuId > 0 ? 'Edit Menu':'Add Menu'}}</h4> -->
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit_Menu()">
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-4 label-control" for="name">{{'Page.Name'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="name" type="text" id="name" class="form-control" [ngClass]="{'is-invalid': submitted && f.name.invalid,'is-valid': submitted && !f.name.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && f.name.invalid">
          <span *ngIf="f.name.errors.required">{{'Page.Msg.Nameisrequired'| translate}}.</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="title">{{'Page.Title'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="title" type="text" id="title" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.title.invalid,'is-valid': submitted && !f.title.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && (f.title.invalid)">
          <span *ngIf="f.title.errors.required">{{'Page.Msg.Titleisrequired'| translate}}.</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="titleAr">{{'Page.TitleInArabic'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="titleAr" type="text" id="titleAr" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.titleAr.invalid,'is-valid': submitted && !f.titleAr.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && f.titleAr.invalid">
          <span *ngIf="f.titleAr.errors.required">{{'Page.Msg.Titleinarabicisrequired'| translate}}.</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="path">{{'Page.Route'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="path" type="text" id="path" class="form-control" [ngClass]="{'is-invalid': submitted && f.path.invalid,'is-valid': submitted && !f.path.invalid}" />
        <small class="form-text text-muted danger" *ngIf="submitted && f.path.invalid">
          <span *ngIf="f.path.errors.required">{{'Page.Msg.Routesisrequired'| translate}}.</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="icon">{{'Page.Icon'| translate}}</label>
      <div class="col-md-8">
        <input formControlName="icon" type="text" id="icon" class="form-control" [ngClass]="{'is-invalid': submitted && f.icon.invalid,'is-valid': submitted && !f.icon.invalid}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="parentId">{{'Page.ParentMenu'| translate}}</label>
      <div class="col-md-8">
        <ng-select formControlName="parentId" [items]="parentMenuList" bindLabel="name" bindValue="id" placeholder="{{'Page.Select' | translate}}" id="parentId" appendTo="body"
          [ngClass]="{'is-invalid': submitted && f.parentId.invalid,'is-valid': submitted && !f.parentId.invalid}">
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 label-control" for="class"></label>
      <div class="col-md-8">
        <div class="custom-control custom-checkbox checkbox-xl">
          <input type="checkbox" formControlName="class" class="custom-control-input" name="class" id="class" />
          <label class="custom-control-label" for="class"><span> {{'Page.HasSubMenu'| translate}}</span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary m-1">
      <i class="ft-check-square mr-1" aria-hidden="true"></i> {{'Page.Save'| translate}}
    </button>
    <button type="button" class="btn btn-secondary m-1" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times mr-1" aria-hidden="true"></i>
      {{'Page.Cancel'| translate}}
    </button>
  </div>
</form>